.bioImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 100px;
    border: 6px solid black;
    margin-bottom: 100px;
}

.bioText {
    width: 50%;
    margin-bottom: 100px;
}


.bioSection {
    display: flex;
    font-size: 1.4em;
    /* flex-direction: column; */
    /* color: #001219; */
    text-align: center;
    height: 100%;
    width: 100%;
    /* border: solid blue; */
    justify-content: center;
    align-items: center;

}

.MainBioPage {
    height: 100%;
    display: flex;
    justify-content: center;
}

.widthBar {
    width: 1280px;
    background-color: #ffffff;
    height: 80%;
    overflow: hidden;
}

.contactBox {
    height: 300px;
    border: solid 1px;
    border-radius: 50px;
    background-color: #3a6ea5;
    color: #ebebeb;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}



.contactText {
    font-size: 1.5em;
    width: 500px;
    text-align: center;
}

.emailMeButton {
    width: 550px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.downloadResume {
    width: 800px;
}

.downloadResume:hover {
    color: blue;
}

.emailMeButton:hover {
    color: blue !important;
}

.emailMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    font-size: 1.5em;
}

.bioPage {
    margin-top: 100px;
    /* background-color: red; */
    display: flex;
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    flex-direction: column;
    align-items: center;
}

.projectImage {
    width: 420px;
    height: 300px;
    margin: 2px;
    margin-top: 20px;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 25px;
}

.ProjectSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
}

.line {
    float: left;
    width: 80%;
    height: 1px;
}

.lineWhite {
    float: left;
    background-color: white;
    width: 80%;
    height: 1px;
}

.line4 {
    float: left;
    width: 80%;
    height: 1px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 100px;
    font-size: 2.5em;
}

.para {
    background: url(https://blogs.lse.ac.uk/management/files/2016/11/technology-785742_1920.jpg) fixed;
    filter: blur(1px);
    background-size: 100vw;
    border: solid 2px;
    background-size: cover;

}

.para2 {
    background: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_660582997_412145.jpg) fixed;
    filter: blur(1px);
    border: solid 2px;
    background-size: 100vw;
    background-size: cover;

}

.parainner {
    width: 100%;
    padding-left: 660px;
    padding-right: 620px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.mainShowWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.heroImageWrapper {
    display: flex;
    justify-content: center;
}

.widthBar {
    width: 1280px;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heroImage {
    width: 1000px;
    /* border: solid 1px red; */
}

.content {
    height: 800px;
}

.line {
    width: 80%;
    height: 1px;
    margin-bottom: 100px;
}

h2 {
    margin-top: 100px;
    font-size: 2.5em;
    text-align: center;
}

h3 {
    /* margin-top: 50px; */
    text-align: center;

}

h4 {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
}

.technology {
    font-size: 1.5em;
    background-color: orange;
    height: 200px;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 150px;

}

.challenges {
    font-size: 1.5em;
    background-color: orange;
    height: 200px;
    width: 70%;
    position: absolute;
    right: 0;

}

.challengeWrapper {
    width: 100%;
    /* border: solid 1px red; */
    height: 100px;
    position: relative;
    margin-bottom: 150px;
}

.unorderList {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    min-width: 696px;
    list-style: none;
}

.tech {
    margin-left: 100px;
    margin-top: 30px;
}

.techList {
    padding: 10px;
}

.unorderList {
    margin-left: -40px;
    margin-top: 80px;
}

.projectInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.return {
    text-align: center;
    color: black;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .bioImage {
        margin-top: -80px;
        margin-right: 0px;
    }

    .bioText {
        margin-top: -50px;
        width: 500px;
    }

    .bioSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroImage {
        width: 580px;
    }

    .parainner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contactBox {
        width: 550px;
    }

    .unorderList {
        margin-top: 40px;
        min-width: 400px;
        /* border: solid 1px red; */
        height: 100%;
        flex-wrap: wrap;
    }

    .challenges {
        height: 255px;
    }
}

@media screen and (max-width: 390px) {
    .bioImage {
        margin-top: -80px;
        margin-right: 0px;
    }

    .bioText {
        margin-top: -50px;
        width: 370px;
    }

    .bioSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroImage {
        width: 390px;
    }

    .parainner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contactBox {
        width: 370px;
    }

    .unorderList {
        margin-top: 40px;
        min-width: 290px;
        /* border: solid 1px red; */
        height: 100%;
        flex-wrap: wrap;
        font-size: .8em;
    }

    .contactText {
        width: 360px;
    }

    .challenges {
        font-size: 1.2em;
        height: 255px;
    }

    .technology {
        width: 100vw;
    }

    .challenges {
        /* border: solid 1px blue; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        list-style-type: none;
        min-width: 390;
        list-style: none;
    }


    .tech {
        list-style-type: none;
    }
}

@media screen and (max-width: 428px) {
    .bioImage {
        margin-top: -80px;
        margin-right: 0px;
    }

    .bioText {
        margin-top: -50px;
        width: 350px;
    }

    .bioSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heroImage {
        width: 390px;
    }

    .parainner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .contactBox {
        width: 370px;
    }

    .unorderList {
        margin-top: 40px;
        min-width: 290px;
        /* border: solid 1px red; */
        height: 100%;
        flex-wrap: wrap;
        font-size: .8em;
    }

    .contactText {
        width: 360px;
    }

    .challenges {
        font-size: 1.2em;
        height: 255px;
    }

    .technology {
        width: 100vw;
    }

    .challenges {
        /* border: solid 1px blue; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        list-style-type: none;
        min-width: 390;
        list-style: none;
    }


    .tech {
        list-style-type: none;
    }
}

/* @media screen and (min-width: 480px) {}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1025px) {}

@media screen and (min-width: 1201px) {} */