.bioImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 100px;
    border: 2px solid #ffffff;
}

.bioSection {
    display: flex;
    color: #001219;
}

.MainBioPage {
    height: 100%;
    display: flex;
    justify-content: center;
}

.widthBar {
    width: 1280px;
    background-color: #e9d8a6;
}

.bioPage {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.projectImage {
    width: 420px;
    height: 300px;
    margin: 2px;
    margin-top: 20px;
    border: solid 1px black;
    cursor: pointer;
}

.ProjectSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}