body {
  margin: 0;
  background-color: #2a2b2d;
}

html {

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 481px) {}

@media screen and (min-width: 769px) {}

@media screen and (min-width: 1025px) {}

@media screen and (min-width: 1201px) {}